/* Slider */
.slider-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85vh;
    background-image: url("src/assets/img/slider2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.slider-container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(168, 3, 3);
    filter: brightness(.9);
}

.slider-container div{
    width: 50%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-container div h1{
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : #ffffff;
    text-shadow: 2px 3px 5px #262de7;
}

.slider-container div p{
    font-size: 20px;
    margin: 5px 0px;
}

.slider-container div button{
    margin: 10px 0px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #dc0000;
    color: #ffffff;
    font-size: 17px;
}
.slider-container div button:hover{
    cursor: pointer;
    background-color: #ff2d2d;
    transition: all .3s;
}

/* Team */
.team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 30px 100px;
}

.team-container div{
    width: 80%;
    text-align: center;

}

.team-container div h1{
    font-size: 50px;
}

.team-container div p{
    font-size: 20px;
}

.team-container div button{
    width: 150px;
    height: 40px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    background-color: #dc0000;
    color: #ffffff;
    font-size: 17px;
}

.team-container div button:hover{
    cursor: pointer;
    background-color: #8f0303;
    transition: all .3s;
}
.team-container div img{
    width: 350px;
    height: 500px;
}