.container-list{
    padding: 30px 40px;
}
div .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px;
}
div .list div{
    width: 22%;
    min-height: 300px;
    margin: 0px 10px 40px 0px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
div .list div img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 10px;
}
div .list div h2{
    font-weight: 500;
    margin-bottom: 10px;
}
div .list div p{
    margin-bottom: 10px;
}
div .list div section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
div .list div span{
    font-weight: 800;
    font-size: 20px;
    margin-top: auto;
}
div .list div span a{
    color: #8f0303;
    text-decoration: none;

}
div .list div span a:hover{
    text-decoration: underline;
    color: #dc0000;
}